<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <!-- Log4j OSS Appender -->
    <appender name="LogX-OSS" class="org.logx.log4j.Log4jOSSAppender">
        <!-- appender配置将通过logx.properties文件进行 -->
    </appender>

    <!-- 业务日志输出 -->
    <appender name="BUSINESS-APPENDER" class="org.apache.log4j.Logger">
        <level value="INFO"/>
        <appender-ref ref="LogX-OSS"/>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <!-- 根日志器 -->
    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LogX-OSS"/>
    </root>

</log4j:configuration>